# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\go_codes\src\match-go\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
